In [1]:
import pandas as pd

In [3]:
import numpy as np

In [16]:
cluster = pd.read_csv('output.csv')

In [17]:
cluster['label'] = np.where(cluster['label']== 0,'Group 1', 'Group 2')

In [18]:
cluster

,Unnamed: 0,subid,Unnamed: 0.1,package_type,num_weekly_services_utilized,preferred_genre,intended_use,weekly_consumption_hour,num_ideal_streaming_services,age,...,renew,app_opens,cust_service_mssgs,num_videos_completed,num_videos_more_than_30_seconds,num_videos_rated,num_series_started,payment_period_y,label,train/test
0,0,26844789,496617,enhanced,3.0,regional,replace OTT,36.001186,2.0,25.0,...,False,1.000000,1.000000,6.500000,6.500000,0.000000,0.500000,0.000000,Group 1,Train
1,1,29726122,192823,base,2.0,comedy,access to exclusive content,20.051667,2.0,61.0,...,True,0.975610,0.414634,4.439024,4.439024,0.146341,0.951220,0.756098,Group 1,Train
2,2,20299962,315863,base,3.0,drama,access to exclusive content,34.551230,2.0,23.0,...,True,2.260870,0.217391,1.826087,4.478261,0.000000,0.630435,0.673913,Group 2,Test
3,3,25393847,277565,base,2.0,regional,supplement OTT,28.751405,2.0,57.0,...,False,2.400000,0.800000,3.600000,4.400000,0.000000,0.600000,0.000000,Group 1,Train
4,4,23163827,377093,economy,3.0,comedy,replace OTT,33.101274,2.0,54.0,...,False,5.071429,0.428571,3.714286,4.857143,0.000000,0.857143,0.000000,Group 1,Test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80790,80790,26828621,243775,base,4.0,drama,access to exclusive content,27.301448,2.0,44.0,...,True,1.000000,0.500000,1.500000,5.500000,0.000000,0.500000,0.000000,Group 2,Train
80791,80791,25492551,378377,base,3.0,comedy,access to exclusive content,30.201361,2.0,32.0,...,False,1.500000,2.000000,6.000000,6.500000,0.000000,0.500000,0.000000,Group 1,Test
80792,80792,25835684,603751,base,2.0,drama,access to exclusive content,24.401536,2.0,43.0,...,False,2.583333,0.416667,3.916667,4.916667,0.000000,0.666667,0.000000,Group 1,Train
80793,80793,21434712,509326,enhanced,3.0,comedy,supplement OTT,28.751405,2.0,38.0,...,False,1.777778,0.333333,2.222222,4.000000,0.000000,0.222222,0.000000,Group 2,Train
80794,80794,25843074,229587,enhanced,2.0,comedy,replace OTT,27.301448,2.0,49.0,...,True,2.666667,0.555556,1.444444,4.518519,0.000000,0.555556,0.444444,Group 2,Train

In [15]:
cluster.to_csv('cluster.csv')

In [39]:
cluster.columns

Index(['Unnamed: 0', 'subid', 'Unnamed: 0.1', 'package_type',
       'num_weekly_services_utilized', 'preferred_genre', 'intended_use',
       'weekly_consumption_hour', 'num_ideal_streaming_services', 'age',
       'male_TF', 'country', 'attribution_technical', 'attribution_survey',
       'op_sys', 'months_per_bill_period', 'plan_type', 'monthly_price',
       'discount_price', 'account_creation_date', 'trial_end_date',
       'initial_credit_card_declined', 'join_fee', 'language', 'payment_type',
       'num_trial_days', 'current_sub_TF', 'payment_period_x', 'last_payment',
       'next_payment', 'cancel_date', 'trial_completed',
       'trial_completed_binary', 'revenue_net_1month', 'renew', 'app_opens',
       'cust_service_mssgs', 'num_videos_completed',
       'num_videos_more_than_30_seconds', 'num_videos_rated',
       'num_series_started', 'payment_period_y', 'label', 'train/test'],
      dtype='object')

In [19]:
cluster1 = cluster[cluster['label']=='Group 1']
cluster2 = cluster[cluster['label']=='Group 2']

In [29]:
cluster1[['num_weekly_services_utilized','num_videos_completed','num_videos_more_than_30_seconds','num_videos_rated','num_series_started']].describe().iloc[1,]

num_weekly_services_utilized       2.996559
num_videos_completed               3.970936
num_videos_more_than_30_seconds    5.026097
num_videos_rated                   0.035051
num_series_started                 0.755334
Name: mean, dtype: float64

In [30]:
cluster2[['num_weekly_services_utilized','num_videos_completed','num_videos_more_than_30_seconds','num_videos_rated','num_series_started']].describe().iloc[1,]

num_weekly_services_utilized       3.019083
num_videos_completed               1.582900
num_videos_more_than_30_seconds    4.412921
num_videos_rated                   0.008150
num_series_started                 0.444250
Name: mean, dtype: float64

In [24]:
print((cluster1['package_type']=='base').sum()/cluster1['package_type'].notna().sum())
print((cluster1['package_type']=='economy').sum()/cluster1['package_type'].notna().sum())
print((cluster1['package_type']=='enhanced').sum()/cluster1['package_type'].notna().sum())

print((cluster2['package_type']=='base').sum()/cluster2['package_type'].notna().sum())
print((cluster2['package_type']=='economy').sum()/cluster2['package_type'].notna().sum())
print((cluster2['package_type']=='enhanced').sum()/cluster2['package_type'].notna().sum())

0.5750452625226312
0.10024140012070006
0.3247133373566687
0.5461202647514435
0.09667652443317842
0.3572032108153781

In [50]:
print((cluster1['package_type']=='base').sum())
print((cluster1['package_type']=='economy').sum())
print((cluster1['package_type']=='enhanced').sum())

print((cluster2['package_type']=='base').sum())
print((cluster2['package_type']=='economy').sum())
print((cluster2['package_type']=='enhanced').sum())

19057
3322
10761
15512
2746
10146

In [32]:
cluster1['preferred_genre'].value_counts()/cluster1['preferred_genre'].notna().sum()

comedy           0.634774
drama            0.240015
regional         0.060367
international    0.035524
other            0.029321
Name: preferred_genre, dtype: float64

In [33]:
cluster2['preferred_genre'].value_counts()/cluster2['preferred_genre'].notna().sum()

comedy           0.614738
drama            0.248685
regional         0.067653
international    0.040571
other            0.028354
Name: preferred_genre, dtype: float64

In [36]:
cluster1['intended_use'].value_counts()/cluster1['intended_use'].notna().sum()

access to exclusive content    0.364086
replace OTT                    0.278507
supplement OTT                 0.110451
expand regional access         0.098702
expand international access    0.082311
other                          0.034914
education                      0.031029
Name: intended_use, dtype: float64

In [37]:
cluster2['intended_use'].value_counts()/cluster2['intended_use'].notna().sum()

access to exclusive content    0.339327
replace OTT                    0.276851
supplement OTT                 0.118662
expand regional access         0.100437
expand international access    0.092932
education                      0.037070
other                          0.034721
Name: intended_use, dtype: float64

In [35]:
print(cluster1['age'].mean())
print(cluster2['age'].mean())

45.197106172766006
46.487215258024605

In [38]:
print(cluster1['renew'].mean())
print(cluster2['renew'].mean())

0.32690027204873623
0.4306669844043742

In [40]:
cluster1['attribution_technical'].value_counts()/cluster1['attribution_technical'].notna().sum()

facebook                   0.285588
email                      0.138563
organic                    0.105782
search                     0.104992
brand sem intent google    0.083719
google_organic             0.063306
affiliate                  0.042545
email_blast                0.038477
pinterest                  0.027108
referral                   0.026992
facebook_organic           0.014693
other                      0.014205
brand sem intent bing      0.011787
internal                   0.009369
discovery                  0.009183
podcast                    0.004952
bing                       0.004696
display                    0.003394
youtube                    0.002790
bing_organic               0.002674
vod                        0.001534
direct_mail                0.000907
samsung                    0.000744
ott                        0.000511
quora                      0.000372
appstore                   0.000372
pinterest_organic          0.000209
influencer                 0.000186
criteo                     0.000163
content_greatist           0.000093
playstore                  0.000093
Name: attribution_technical, dtype: float64

In [41]:
cluster2['attribution_technical'].value_counts()/cluster2['attribution_technical'].notna().sum()

facebook                   0.316182
email                      0.114181
search                     0.107300
organic                    0.103991
brand sem intent google    0.086126
google_organic             0.055714
email_blast                0.038484
affiliate                  0.034752
pinterest                  0.029220
referral                   0.029194
facebook_organic           0.015881
brand sem intent bing      0.013763
discovery                  0.011460
other                      0.011143
internal                   0.007279
bing                       0.005558
display                    0.005399
podcast                    0.004552
youtube                    0.003600
bing_organic               0.001879
vod                        0.000926
direct_mail                0.000741
ott                        0.000715
samsung                    0.000635
quora                      0.000582
appstore                   0.000238
criteo                     0.000159
influencer                 0.000132
pinterest_organic          0.000132
twitter                    0.000053
tv                         0.000026
Name: attribution_technical, dtype: float64

In [42]:
cluster1['language'].value_counts()/cluster1['language'].notna().sum()

ar    1.0
Name: language, dtype: float64

In [43]:
cluster2['language'].value_counts()/cluster2['language'].notna().sum()

ar    1.0
Name: language, dtype: float64

In [44]:
cluster1['country'].value_counts()/cluster1['country'].notna().sum()

UAE    1.0
Name: country, dtype: float64

In [45]:
cluster2['country'].value_counts()/cluster2['country'].notna().sum()

UAE    1.0
Name: country, dtype: float64

In [46]:
cluster1['male_TF'].value_counts()/cluster1['male_TF'].notna().sum()

False    0.90389
True     0.09611
Name: male_TF, dtype: float64

In [47]:
cluster2['male_TF'].value_counts()/cluster2['male_TF'].notna().sum()

False    0.860833
True     0.139167
Name: male_TF, dtype: float64

In [48]:
cluster1['monthly_price'].mean()

4.734518426989398

In [49]:
cluster2['monthly_price'].mean()

4.733621989308068